* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #ffffff;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 550px;
    height: 200px;
    background: #fff0fe;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 2px 20px;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}

.card .head {
    height: 125px;
    width: 100%;
    position: absolute;
}

.card .head .circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #ef9ee4;
    left: -20%;
}

.card .head .img {
    width: 140px;
    height: 140px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 15%;
    transform: translate(-50%);
}

.card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.card .description h3 {
    margin-top: 10%;
    margin-left: 30%;
    color: #e38ed7;
}

.card .description h5 {
    margin-left: 30%;
    margin-bottom: 2%;
    margin-top: 0%;
    color: #a1a1a1;
}

.card .description p {
    margin-left: 30%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 10%;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


