* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #ffffff;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 550px;
    height: 200px;
    background: #fbe7ff;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 2px 20px;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}

.card .head {
    height: 125px;
    width: 100%;
    position: absolute;
}

.card .head .circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #efa8ff;
    left: 80%;
}

.card .head .img {
    width: 140px;
    height: 140px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 85%;
    transform: translate(-50%);
}

.card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.card .description h3 {
    margin-top: 10%;
    margin-left: 5%;
    text-align: left 15px;
    color: #a64ab3;
}

.card .description h5 {
    margin-left: 5%;
    text-align: left 15px;
    margin-top: 0%;
    margin-bottom: 2%;
    color: #b9b9b9;
}

.card .description p {
    margin-left: 5%;
    text-align: left 15px;
    font-size: 12px;
    margin-right: 30%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

